.u-margin-top-s {
    margin-top: 1rem !important;
}
.u-margin-top {
    margin-top: 20px !important;
}
.u-margin-bottom {
    margin-bottom: 40px !important;
}
.u-margin-bottom-b {
    margin-bottom: 65px !important;
}